body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2rem;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style: square inside;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}
